@font-face {
    font-family: 'computer_speak_v0.3regular';
    src: url('computer_speak_v0.3-webfont.woff2') format('woff2'),
         url('computer_speak_v0.3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body, html{

    overflow-x: hidden;
    overflow-y:auto;
    height: 100vh;
    margin: 0vh;
    max-width: 100vw;
    font: 400 64px/1.8 "computer_speak_v0.3regular";
    font-size: 64px;
    background-color: #111;

}

/* animate the banner */
@keyframes animate-grad{

    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}


.banner{

    position: relative;
    top: 0;
    left: 0;
    background:linear-gradient(-70deg, #ffcc99, #ff99ff,#99ddff, whitesmoke );
    background-size: 400% 400%;
    width: 100%;
    height:160px;
    animation: animate-grad 25s ease infinite;

}

.banner-content{

    font-size: 36px;
    margin: 0 auto;
    padding: 10px;
    color: #111;
    text-align:center;

}

.banner-subtitle{

    font-size: 16px;
    margin: 0 auto;
    padding: 10px;
    color: #111;
    text-align:center;


}


/* stuff for main text box */
/* read somewhere to build for mobile first, then add the if case for desktop so that is what i am going to do */

.align-container{

    display: flex;
    flex-direction: column;

}

.main-box{

    position: relative;
    background:linear-gradient(-70deg, #ffcc99, #ff99ff,#99ddff, whitesmoke );
    background-size: 400% 400%;
    width: 90%;
    min-height:150px;
    margin-top:100px;
    animation: animate-grad 25s ease infinite;
    left:5%;


}

.main-header{

    position: absolute;
    left:calc(16px + 32px + 5px);
    font-size: 32px;
    top:-78px;

    /* just for colour formatting */
    background:linear-gradient(-70deg, #ffcc99, #ff99ff,#99ddff, whitesmoke );
    background-size: 400% 400%;
    animation: animate-grad 25s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;

}

.main-text{

    color:#111;
    padding:5px 5px 5px 5px;
    font-size:11px;
    font-family: 'Courier New', monospace;
    font-weight:bold;

}

.main-image{

    position: absolute;
    
    background:linear-gradient(-70deg, #ffcc99, #ff99ff,#99ddff, whitesmoke );
    background-size: 400% 400%;
    animation: animate-grad 25s ease infinite;

    height:48px;
    width:48px;
    top:-56px;

}

.break-bottom{

    margin-top:5vw;

}

/* want window to change layout to this once it has grown to desktop size*/
@media screen and (min-width: 950px){

    .align-container{

        flex-direction: row;

    }

    .main-box{

        position: relative;
        background:linear-gradient(-70deg, #ffcc99, #ff99ff,#99ddff, whitesmoke );
        background-size: 400% 400%;
        width: 20vw;
        min-height:65vh;
        margin-top:115px;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
        left:-0.5vw;
        animation: animate-grad 25s ease infinite;
    
    
    }
    
    .main-header{
    
        position: absolute;
        left:calc(16px + 32px + 5px);
        font-size: 32px;
        top:-78px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    
        /* just for colour formatting */
        background:linear-gradient(-70deg, #ffcc99, #ff99ff,#99ddff, whitesmoke );
        background-size: 400% 400%;
        animation: animate-grad 25s ease infinite;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        white-space: nowrap;
    
    }
    
    .main-text{
    
        color:#111;
        padding:5px 5px 5px 5px;
        font-size:max(11px, 0.8vw);
        font-family: 'Courier New', monospace;
        font-weight:bold;
    
    }
    
    .main-image{
    
        position: absolute;

        background:linear-gradient(-70deg, #ffcc99, #ff99ff,#99ddff, whitesmoke );
        background-size: 400% 400%;
        animation: animate-grad 25s ease infinite;

        height:48px;
        width:48px;
        top:-105px;
        left: calc(50% - 2px);
        transform: translateX(-50%);
    
    }

    .break-bottom{

        margin-top:0vw;
    
    }

}

