@font-face {
    font-family: 'computer_speak_v0.3regular';
    src: url('computer_speak_v0.3-webfont.woff2') format('woff2'),
         url('computer_speak_v0.3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body, html{

    overflow-x: hidden;
    overflow-y:auto;
    height: 100vh;
    margin: 0vh;
    max-width: 100vw;
    font: 400 64px/1.8 "computer_speak_v0.3regular";
    font-size: 64px;
    background-color: #111;

}

/* animate the banner */
@keyframes animate-grad{

    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}


.banner{

    position: relative;
    top: 0;
    left: 0;
    background:linear-gradient(-70deg, #ffcc99, #ff99ff,#99ddff, whitesmoke );
    background-size: 400% 400%;
    width: 100%;
    height:160px;
    animation: animate-grad 25s ease infinite;

}

.banner-content{

    font-size: 36px;
    margin: 0 auto;
    padding: 10px;
    color: #111;
    text-align:center;

}

.banner-subtitle{

    font-size: 16px;
    margin: 0 auto;
    padding: 10px;
    color: #111;
    text-align:center;


}

h1{

    text-align: center;
    background:linear-gradient(-70deg, #ffcc99, #ff99ff,#99ddff, whitesmoke );
    background-size: 400% 400%;
    animation: animate-grad 25s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    cursor: pointer;
    display: block;

}


/* drop down menus */
.hidden-content{

    height: 0vh;
    background:linear-gradient(-70deg, #ffcc99, #ff99ff,#99ddff, whitesmoke );
    background-size: 400% 400%;
    animation: animate-grad 25s ease infinite;
    overflow:hidden;
    overflow-y:hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', monospace;
    font-weight:bold;

}

.hidden-box{

    padding: 1vh 1vw 1vh 1vw;
    background-color: transparent;
    width: 80vw;
    height:153.3px;
    margin: 0.5vw;
    color: #111;

}

.hidden-box-small{

    background-color: transparent;
    height: 153.3px;
    margin: 0 0.5vw;

}

.content{

    font-size:max(1vw, 10px);

}





