<!DOCTYPE html>

<html lang="en">

    <head>

        <title>Toby's cool 'site</title>
        <meta charset="utf-8">
        <meta name="description" content="Toby's cool 'site">
        <meta name="author" content="Toby Flanagan">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="../css/about.css" rel="stylesheet">

        <script>

            window.addEventListener('resize', function(resize){

                console.log("WIDTH: " + window.innerWidth);

            });

        </script>

    </head>

    <body>

        <!--main title and background image-->
        <div class="banner">
            <div class="banner-content">
                <span>ABOUT</span><br>
                <p class="banner-subtitle">Some important information about toby</p>
            </div>
        </div>

        
        <div class="align-container">

            <div class="main-box">

                <img class="main-image" src="../resources/images/profile.png" alt="profile">
            
                <h1 class="main-header">Me</h1>

                <p class="main-text">this is some filler text so i can see how the thingamajig works</p>

            </div>

            <div class="main-box">

                <img class="main-image" src="../resources/images/book.png" alt="book">

                <h1 class="main-header">Education</h1>

                <p class="main-text">Completed my GCSEs at Simon Balle all-through school, attaining top grades,
                    including a 9 in physics, and 8s and 7s in other subjects. Pursued A-levels in physics, computer 
                    science, and maths, securing A star,A,A respectively, with an additional A in further maths at AS level.
                </p>
                <p class="main-text">
                    Currently in my 3rd year at the University of Leeds, studying computer science in the School of
                    Computer Science. Earned a 1st grade in both the first and second years. Currently focusing on 
                    modules such as cryptography, machine learning, and computer graphics.
                </p>
                <p class="main-text">
                    My goal is to achieve a bachelor's degree in computer science by June 2024.
                </p>
                

            </div>

            <div class="main-box">

                <img class="main-image" src="../resources/images/hammer.png" alt="hammer">

                <h1 class="main-header">Work</h1>

                <p class="main-text">I made malloc system call for a small unix type os called xv6, 
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            </div>

            <div class="main-box">

                <img class="main-image" src="../resources/images/basketball.png" alt="basketball">

                <h1 class="main-header">Hobbies</h1>

                <p class="main-text">I made malloc system call for a small unix type os called xv6, 
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            </div>

        </div>
    



        <div class="break-bottom"></div>
    </body>

</html>