<!DOCTYPE html>

<html lang="en">

    <head>

        <title>About Toby</title>
        <meta charset="utf-8">
        <meta name="description" content="About Toby">
        <meta name="author" content="Toby Flanagan">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="../css/about.css" rel="stylesheet">

        <!-- styling for navbar -->
        <link href="../css/navbar.css" rel="stylesheet">    
        <script type="text/javascript" src="../js/navbar.js"></script>

    </head>

    <body>

        <!-- button that reveals navbar -->
        <div class="navbar-button" onclick="toggleNavbar()">
            <img class="navbar-icon" id="navbar-icon" src="../resources/images/menu_button.png" alt="Menu">
        </div>

        <!-- navbar -->
        <div class="navbar">

            <a class="navbar-item" href="index.html">Home</a>
            <a class="navbar-item" href="toby.html">Toby</a>
            <a class="navbar-item" href="about.html">About</a>
            <a class="navbar-item" href="projects.html">Projects</a>
            <a class="navbar-item" href="contact.html">Contact</a>

        </div>

        <!--main title and background image-->
        <div class="banner">
            <div class="banner-content">
                <span>ABOUT</span><br>
                <p class="banner-subtitle">Some important information about toby</p>
            </div>
        </div>

        
        <div class="align-container">

            <div class="main-box">

                <img class="main-image" src="../resources/images/profile.png" alt="profile">
            
                <h1 class="main-header">This Website</h1>

                <p class="main-text">I decided to create this website to have a platform where I showcase my skills and 
                    experiences. Additionally, I wanted to craft an interactive and visually engaging portfolio, and challenge
                    myself by designing and creating something from the ground up.
                </p>
                <p class="main-text">One of the unique aspects of this project is that I opted to not use any frameworks. 
                    This is because I wanted to delve into the fundamentals of web development while also demonstrating my
                    mastery of the basics.
                </p>
                <p class="main-text">Collaboration played a vital role in this project's visual appeal, as I teamed up
                    with two talented friends, Oscar Collins and Zoey Morriss who provided me with the art used throughout 
                    the website.
                </p>
                <p class="main-text">Creating this website was more than just for work purposes. It was an exercise in 
                    creativity, percistence and self-expression.
                </p>
                

            </div>

            <div class="main-box">

                <img class="main-image" src="../resources/images/book.png" alt="book">

                <h1 class="main-header">Education</h1>

                <p class="main-text">Completed my GCSEs at Simon Balle all-through school, attaining top grades,
                    including a 9 in physics, and 8s and 7s in other subjects. Pursued A-levels in physics, computer 
                    science, and maths, securing A star,A,A respectively, with an additional A in further maths at AS level.
                </p>
                <p class="main-text">
                    Currently in my 3rd year at the University of Leeds, studying computer science in the School of
                    Computer Science. Earned a 1st grade in both the first and second years. Currently focusing on 
                    modules such as cryptography, machine learning, and computer graphics.
                </p>
                <p class="main-text">
                    My goal is to achieve a bachelor's degree in computer science by June 2024.
                </p>
                

            </div>

            <div class="main-box">

                <img class="main-image" src="../resources/images/hammer.png" alt="hammer">

                <h1 class="main-header">Work</h1>

                <p class="main-text">My professional journey has revolved around building a solid foundation in software 
                    development and IT. As a tutor for GCSE students, I honed my technical expertise while guiding and 
                    supporting them in computer science-related subjects. This role allowed me to refine my ability to 
                    explain complex concepts effectively. Additionally, I gained valuable experience during my time at CEX, 
                    where I demonstrated problem-solving skills and adaptability in a technology-driven retail environment. 
                    Now, with hands-on experience in various projects and a genuine passion for technology, I am eager to 
                    leverage my skills to contribute to impactful software development and IT initiatives, making a positive
                    impact in this dynamic industry.
                </p>

            </div>

            <div class="main-box">

                <img class="main-image" src="../resources/images/basketball.png" alt="basketball">

                <h1 class="main-header">Hobbies</h1>

                <p class="main-text">My diverse range of hobbies has not only enriched my life but also sharpened valuable skills 
                    that complement my passion for software development and IT. Participating in a Manchester hackathon opened 
                    doors to new connections and exposed me to exciting projects from various companies. Embracing a healthy 
                    lifestyle, I actively engage in the yoga society, nurturing both my physical and mental well-being. As a 
                    captain of an esports team at my university, I honed my leadership and teamwork abilities while competing in 
                    tournaments. Additionally, I find solace in music, playing both guitar and piano, which has imrpoved my 
                    patience, discipline, and creativity. My personal software projects, crafted during my free time, demonstrate my 
                    continuous drive to innovate and improve my skills.
                </p>

            </div>

        </div>
    



        <div class="break-bottom"></div>
    </body>

</html>