<!DOCTYPE html>

<html lang='en'>

    <head>

        <title>Toby's cool 'site</title>
        <meta charset="utf-8">
        <meta name="description" content="Toby's cool 'site">
        <meta name="author" content="Toby Flanagan">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="../css/contact.css" rel="stylesheet">        
        <script type="text/javascript" src="../js/contact.js"></script>

    </head>

    <body class="grad-back" onload="setLayout('imgLayout')" onresize="setLayout('imgLayout')">

        <div class="banner-content">
            <span>CONTACT ME!</span>
        </div>
    
        <div class="image-section" id="imgLayout">

            <a href="https://www.instagram.com/t_flandalf/">
                <img src="../resources/images/instagram.png" class="image-box" alt="instagram">
            </a>
            <a href="mailto:toby.flanagan@hotmail.co.uk">
                <img src="../resources/images/mail.png" class="image-box" alt="email">
            </a>
            <a href="https://www.linkedin.com/in/tobias-flanagan-7b6b5b172/">
                <img src="../resources/images/linked_in.png" class="image-box" alt="linkedin">
            </a>
            <a href="https://github.com/TobyFlan">
                <img src="../resources/images/github.png" class="image-box" alt="github">
            </a>
            

        </div>    
    
    </body>

</html>