<!DOCTYPE html>

<html lang='en'>

    <head>

        <title>Toby's cool 'site</title>
        <meta charset="utf-8">
        <meta name="description" content="Toby's cool 'site">
        <meta name="author" content="Toby Flanagan">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="../css/contact.css" rel="stylesheet">        
        <script type="text/javascript" src="../js/contact.js"></script>

    </head>

    <body class="grad-back" onload="setLayout('imgLayout')" onresize="setLayout('imgLayout')">

        <div class="banner-content">
            <span>CONTACT ME!</span>
        </div>
    
        <div class="image-section" id="imgLayout">

            <img src="../resources/images/instagram.png" class="image-box" alt="instagram">
            <img src="../resources/images/mail.png" class="image-box" alt="email">
            <img src="../resources/images/linked_in.png" class="image-box" alt="linkedin">
            <div class="image-box"></div>

        </div>    
    
    </body>

</html>