<!DOCTYPE html>

<html lang='en'>
    <head>

        <title>Toby's cool 'site</title>
        <meta charset="utf-8">
        <meta name="description" content="Toby's cool 'site">
        <meta name="author" content="Toby Flanagan">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="../css/contact.css" rel="stylesheet">        
        <script type="text/javascript" src="../js/contact.js"></script>

    </head>

    <body class="grad-back" onresize="setLayout('imgLayout')">
    
        <div class="image-section" id="imgLayout">

            <div class="image-box"></div>
            <div class="image-box"></div>
            <div class="image-box"></div>
            <div class="image-box"></div>

        </div>    
    
    </body>

</html>