<!DOCTYPE html>

<html lang='en'>
    <head>

        <!-- TODO: probably find a better font because this one is quite hard to read -->

        <title>Toby's Website</title>
        <meta charset="utf-8">
        <meta name="description" content="Toby's Website">
        <meta name="author" content="Toby Flanagan">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="../css/index.css" rel="stylesheet">        
        <script type="text/javascript" src="../js/index.js"></script>

    </head>

    <body class="grad-back">
        
        <div class="maintext">
            <a href="toby.html">
                <span 
                    id="tobyImage"
                    onmouseover="showImage('tobyImage','../resources/images/Toby_portrait.png')"
                    onmouseout="hideImage('tobyImage')"
                    >
                    TOBY
                </span>
            </a>
        </div>

        <div class="maintext">
            <a href="about.html">
                <span 
                    id="aboutImage"
                    onmouseover="showImage('aboutImage','../resources/images/magnifying_glass.png')"
                    onmouseout="hideImage('aboutImage')"
                    >
                    ABOUT
                </span>
            </a>
        </div>

        <div class="maintext">
            <a href="projects.html">
                <span 
                    id="projectImage"
                    onmouseover="showImage('projectImage','../resources/images/lightbulb.png')"
                    onmouseout="hideImage('projectImage')"
                    >
                    PROJECTS
                </span>
            </a>
        </div>

        <div class="maintext">
            <a href="contact.html">
                <span 
                    id="contactImage"
                    onmouseover="showImage('contactImage','../resources/images/telephone.png')"
                    onmouseout="hideImage('contactImage')"
                    >
                    CONTACT
                </span>
            </a>
        </div>
        
    </body>



</html>