<!DOCTYPE html>

<html lang='en'>
    <head>

        <title>Toby's cool 'site</title>
        <meta charset="utf-8">
        <meta name="description" content="Toby's cool 'site">
        <meta name="author" content="Toby Flanagan">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="../css/index.css" rel="stylesheet">
        
        <script type="text/javascript" src="../js/index.js"></script>

    </head>

    <body class="grad-back">
        
        <div class="maintext">
            <span 
                id="tobyImage"
                onmouseover="showImage('tobyImage','../resources/images/Toby_portrait.png')"
                onmouseout="hideImage('tobyImage')"
                >
                TOBY
            </span>
        </div>

        <div class="maintext">
            <span 
                id="aboutImage"
                onmouseover="showImage('aboutImage','../resources/images/magnifying_glass.png')"
                onmouseout="hideImage('aboutImage')"
                >
                ABOUT
            </span>
        </div>

        <div class="maintext">
            <span>PROJECTS</span>
        </div>

        <div class="maintext">
            <span>CONTACT</span>
        </div>
    </body>



</html>