<!DOCTYPE html>

<html lang="en">

    <head>

        <title>Toby's cool 'site</title>
        <meta charset="utf-8">
        <meta name="description" content="Toby's cool 'site">
        <meta name="author" content="Toby Flanagan">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        
        <link href="../css/toby.css" rel="stylesheet">        
        <script type="text/javascript" src="../js/toby.js"></script>

    </head>

    <!-- TODO: make a drop down navbar menu in the top right of the screen that follows your scroll -->

    <body>

    <!--main title and background image-->
    <div class="banner">
        <div class="banner-content">
            <span>PROJECTS</span><br>
            <p class="banner-subtitle">This is an epic! explenation! (in a smaller font!)</p>
        </div>
    </div>
