<!DOCTYPE html>

<html lang="en">

    <head>

        <title>Toby's cool 'site</title>
        <meta charset="utf-8">
        <meta name="description" content="Toby's cool 'site">
        <meta name="author" content="Toby Flanagan">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        
        <link href="../css/projects.css" rel="stylesheet">        
        

    </head>

    <!-- TODO: make a drop down navbar menu in the top right of the screen that follows your scroll -->

    <body>

        <!--main title and background image-->
        <div class="banner">
            <div class="banner-content">
                <span>PROJECTS</span><br>
                <p class="banner-subtitle">The following are some projects i've worked on, enhancing a variation of my skills.</p>
            </div>
        </div>

        <!-- project 1 -->

        

        <div class="project-banner">

            <div class="project-image-wide"></div>

            <h1 class="project-header-wide"> Project 1</h1>

            <p class="project-text-wide">The following are some projects i've worked on, enhancing a variation of my skills.</p>

        </div>



        <!-- project 2 -->
        <div class="project-banner">

            <div class="project-image-wide"></div>

            <h1 class="project-header-wide"> Project 2</h1>

            <!-- <p class="banner-subtitle">The following are some projects i've worked on, enhancing a variation of my skills.</p> -->

        </div>



        <!-- project 3 -->
        <div class="project-banner">

            <div class="project-image-wide"></div>

            <h1 class="project-header-wide"> Project 3</h1>

            <!-- <p class="banner-subtitle">The following are some projects i've worked on, enhancing a variation of my skills.</p> -->

        </div>

        <div class="break-bottom"></div>














    </body>
