<!DOCTYPE html>

<html lang="en">

    <head>

        <title>Toby's Website</title>
        <meta charset="utf-8">
        <meta name="description" content="Toby's Website">
        <meta name="author" content="Toby Flanagan">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        
        <link href="../css/toby.css" rel="stylesheet"> 
        <script type="text/javascript" src="../js/toby.js"></script>

        <!-- styling for navbar -->
        <link href="../css/navbar.css" rel="stylesheet">    
        <script type="text/javascript" src="../js/navbar.js"></script>

    </head>


    <body>

        <!-- button that reveals navbar -->
        <div class="navbar-button" onclick="toggleNavbar()">
            <img class="navbar-icon" id="navbar-icon" src="../resources/images/menu_button.png" alt="Menu">
        </div>

        <!-- navbar -->
        <div class="navbar">

            <a class="navbar-item" href="index.html">Home</a>
            <a class="navbar-item" href="toby.html">Toby</a>
            <a class="navbar-item" href="about.html">About</a>
            <a class="navbar-item" href="projects.html">Projects</a>
            <a class="navbar-item" href="contact.html">Contact</a>

        </div>



        <!--main title and background image-->
        <div class="banner">
            <div class="banner-content">
                <span>TOBY</span><br>
                <p class="banner-subtitle">Click on the headers to reveal information about me!</p>
            </div>
        </div>


        <h1 
            onclick="showContent('introSection', 200)"
            >
            Teamwork
        </h1>

        <div class="hidden-content" id="introSection">

            <div class="hidden-box">

                <p>Throughout diverse projects and collaborations, I've demonstrated a
                    strong aptitude for effective teamwork. Working with diverse teams,
                    I honed my communication skills, emphasizing active listening and 
                    constructive feedback. A highlight was contributing to a successful 
                    large-scale software project under tight time constraints, achieving
                    outstanding results. I am eager to bring my collaborative spirit to 
                    future projects.</p>

            </div>

            <img src="../resources/images/teamwork.png" class="hidden-box-small">

        </div>

        <h1 
            onclick="showContent('section2', 200)"
            >
            Creative
        </h1>

        <div class="hidden-content" id="section2">

            <img src="../resources/images/creative.png" class="hidden-box-small">

            <div class="hidden-box">
                <p>Creativity fuels my passion. From design to problem solving, I like
                    to approach each challenge with an innovative mindset. My dedication to
                    aestetics and user friendly design ensures everything I work on boasts
                    both visual appeal and practicality. I aspire to create impactful work
                    that leaves a lasting impression on users, while inspiring myself to
                    continue innovating.</p>
            </div>

        </div>

        <h1 
            onclick="showContent('section3', 200)"
            >
            Resilient
        </h1>

        <div class="hidden-content" id="section3">

            <div class="hidden-box">
                <p>When challenges arise, I persist, adapt and grow. Embracing setbacks, I see
                    them as stepping stones for learning and self-improvement. One stand out 
                    experience was taking charge in a group project where the team was struggling. 
                    I successfully motivated team members and leveraged their strengths, despite numerous 
                    difficulties. I look forward to new endeavors, facing them head-on with strength
                    and determination.</p>
            </div>

            <img src="../resources/images/resilience.png" class="hidden-box-small">

        </div>

        <h1 
            onclick="showContent('section4', 200)"
            >
            Leader
        </h1>

        <div class="hidden-content" id="section4">

            <img src="../resources/images/leadership.png" class="hidden-box-small">


            <div class="hidden-box">
                <p>The ability to inspire and guide others has always been a driving
                    force for me. As a dedicated leader, I prioritise fostering collaboration
                    and empowering individuals to reach their full potential. My experience
                    as a tutor has been instrumental in honing this skill, by helping many 
                    students reach and surpass their goal grades.</p>
            </div>

        </div>

        <h1 
            onclick="showContent('section5', 200)"
            >
            Adaptable
        </h1>

        <div class="hidden-content" id="section5">

            <div class="hidden-box">
                <p>I thrive in rapidly changing environments, readily embracing new challenges with
                    an open mindset. Through working in diverse teams on various projects, I have honed
                    my ability to adapt in any situation. One standout example was during my employment
                    at cex, where I had to cooperate with many different individuals and carry out many
                    tasks. I look forward to challenging myself with new situations to help me learn and 
                    grow.</p>
            </div>

            <img src="../resources/images/adaptable.png" class="hidden-box-small">

        </div>

        
        <h1></h1>

    </body>

</html>