<!DOCTYPE html>

<html lang="en">

    <head>

        <title>Toby's cool 'site</title>
        <meta charset="utf-8">
        <meta name="description" content="Toby's cool 'site">
        <meta name="author" content="Toby Flanagan">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        
        <link href="../css/toby.css" rel="stylesheet">        
        <script type="text/javascript" src="../js/toby.js"></script>

    </head>

    <body>

    <!--main title and background image-->
    <div class="banner">
        <div class="banner-content">
            <span>TOBY</span><br>
            <p class="banner-subtitle">This is an epic! explenation! (in a smaller font!)</p>
        </div>
    </div>


    <h1 
        onclick="showContent('introSection', 30)"
        >
        Teamwork
    </h1>

    <div class="hidden-content" id="introSection">

        <div class="hidden-box">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        </div>

        <div class="hidden-box-small">

            <p>This is going to be an image</p>

        </div>

    </div>

    <h1 
        onclick="showContent('section2', 30)"
        >
        Creative
    </h1>

    <div class="hidden-content" id="section2">

        <img src="../resources/images/creative.png" class="hidden-box-small">

        <div class="hidden-box">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

    </div>

    <h1 
        onclick="showContent('section3', 30)"
        >
        Resilient
    </h1>

    <div class="hidden-content" id="section3">

        <div class="hidden-box">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>



        <img src="../resources/images/resilience.png" class="hidden-box-small">

    </div>

    <h1 
        onclick="showContent('section4', 30)"
        >
        Leader
    </h1>

    <div class="hidden-content" id="section4">

        <img src="../resources/images/leadership.png" class="hidden-box-small">


        <div class="hidden-box">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

    </div>

    <h1 
        onclick="showContent('section5', 30)"
        >
        Adaptable
    </h1>

    <div class="hidden-content" id="section5">

        <div class="hidden-box">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="hidden-box-small">

            <p>This is going to be an image</p>

        </div>

    </div>

    
    <h1></h1>

    </body>

</html>