<!DOCTYPE html>

<html lang="en">

    <head>

        <title>Toby's cool 'site</title>
        <meta charset="utf-8">
        <meta name="description" content="Toby's cool 'site">
        <meta name="author" content="Toby Flanagan">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="../css/toby.css" rel="stylesheet">

    </head>

    <body>

    <!--main title and background image-->
    <div class="banner">
        <div class="banner-content">
            <span>TOBY</span>
        </div>
    </div>


    <h1>Introduction</h1>
    <h1>Fav foods</h1>
    <h1>Fav films</h1>

    

    </body>

</html>